/* Page background */
body { background: #A6A6A6 !important;}

/* navbar (rest of the header) */
.navbar-inverse {
background-color: #C41230;
color: #ffffff;
font-size: 14pt;
border: #C41230;
border-width: 0px;

}

.navbar .nav, .navbar .nav > li {
  float:none;
  display:inline-block;    
}

.navbar > li > a:hover{
  background-color:#FCC;
}

/* Title */
.navbar-inverse .navbar-brand {
  color: #ffffff;
  font-size: 18pt;
}
/*
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color:#595959;
}
*/
/* Link */
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover {
  background-color:#595959;
}
.navbar-inverse .navbar-nav > li > a:focus {
  background-color:#404040;

}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #404040;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}

.jumbotron{
  background-color: #ffffff;
  margin: auto;
}

.item {
  height: 650px;
  }
  
  .item img {
  max-height: 100%;  
  max-width: 100%; 
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
  }

  .carousel-caption {
    background: rgba(0, 0, 0, 0.35);
}

html, body { height: 100%; }

.panel {
  width: 100%;
  height: 100%;
}

.panel-heading{
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
}

.btn-default{
  background-color: #C41230 !important;
  color:#ffffff !important;
  font-size: 14pt !important;
}

.btn-default:hover{
  background-color: #ffffff !important;
  font-size: 14pt !important;
  color:#C41230 !important;
}

.centerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .navbar-fixed-top .navbar-header,
.navbar-collapse {
    float:none;
    display:inline-block;
    vertical-align: top;
}

@media (max-width: 768px) {
    .navbar-collapse  {
        display: block;
    }
}

.equal {  
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}